    
        ../../.kindle/
        ../../.lesshst
        ../../.viminfo
        ../../.viminfo.tmp
        ../../3D Objects/
        ../../AppData/
        ../../Contacts/
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
        ../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Sti_Trace.log
        ../../Videos/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini